<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1> <%= @news.title %> </h1>
    <div>
      por <span class="label label-default"><%= @news.author %></span> en <span><%= @news.published %></span>
    </div>
    <br>
    <div class="summary"><%= @news.subtitle %></div>
    <br>
    <div class="content">  <%= @news.body %></div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>Comentarios</h2>
    <% @news.comments.each do |comment| %>
    <div class="row">
      <div class="media">
        <div class="media-left media-top">
          <a href="#">
            <%= image_tag("user.jpg", border: 0) %> </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= comment.author %></h4>
          <%= comment.content %>
        </div>
      </div>
    </div>
    <% end %>
    <br>
  </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">Comentar</div>
        <div class="panel-body">
          <%= render 'comment_form', comment: @comment %>
        </div>
      </div>
    </div>
</div>

