<!DOCTYPE html>
<html>
<head>
  <title>IIC3103 - Sitio de Noticias en Ruby</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">IIC3103 News</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-globe"></span> Noticias</a>
      </li>
      <li class="active">
        <a href="/news"><span class="glyphicon glyphicon-edit"></span> Adminstrar</a>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>